# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# HuggingFace cache
.cache/
.huggingface/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large data files
data/*.pdf
data/processed/*.json
embeddings/*.npy
index/*.index

# VSCode
.vscode/

# PyTorch
*.pt
*.bin

# Misc
*.zip
*.tar.gz